alembic==1.18.4
cloudinary==1.44.1
fastapi==0.115.8
httpx
imagehash
opencv-python-headless==4.13.0.92
Pillow==11.1.0
psycopg2-binary==2.9.11
python-dotenv==1.2.2
python-multipart==0.0.22
redis
requests==2.32.5
sqlalchemy==2.0.38
uvicorn==0.41.0
